@model IEnumerable<Leave_Management_System.Models.ViewModel.listofleaveallocation>

@{
    ViewData["Title"] = "UserleaevAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UserleaevAllocation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoOfLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leavetype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leavetype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationID">Edit</a> 
            </td>
        </tr>
}
    </tbody>
</table>
