@model IEnumerable<Leave_Management_System.Models.Class.leaveType>

@{
    ViewData["Title"] = "ListLeaveType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListLeaveType</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.allcatoToAll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.itispersonal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LeaveType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.allcatoToAll)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itispersonal)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.leaveTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.leaveTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.leaveTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
