@model IEnumerable<Leave_Management_System.Models.Class.leaveType>

@{
    ViewData["Title"] = "ListLeaveType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-t-30">
    <div class="col-md-12">
        <div class="table-data__tool-left">

            
        </div><br />
        </hr>
        <!-- DATA TABLE-->

        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.noofday)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.allcatoToAll)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.itispersonal)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.noofday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.allcatoToAll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.itispersonal)
                </td>
                <td>
                    <a class="btn btn-warning zmdi zmdi-edit" data-toggle="tooltip" data-placement="top" title="Edit" asp-action="UpdateLeaveType" asp-route-id="@item.leaveTypeID"></a> |
                    <a id="@item.leaveTypeID" name="Delete" class="btn btn-danger zmdi zmdi-delete" data-toggle="tooltip" data-placement="top" title="Delete"></a>
                    @if (!item.allcatoToAll)
                    {
            <a id="@item.leaveTypeID" name="Allocate">Allocate to all</a>}
                </td>
            </tr>
}
                </tbody>
            </table>
        </div>
    </div>

@section scripts{
    <script>

        $("[name=Allocate]").on("click", function () {
            var id = this.id;
            alert("id="+id);
            var save_change = "Accept";
            $.ajax({
                type: "POST",
                url: "/admin/AllocattoAll",
                data: { "id": id },
                success: function (response) {
                   //alert("Status Updated Successfully!");
                    location.reload();

                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("error");
                }
            });
            //alert(save_change);

        })
        $("[name=Delete]").on("click", function () {
            var deleteid = this.id;
           // alert("id=" + deleteid);
            var retVal = confirm("Do you want to Delete this leave Type ?");
            if (retVal == true) {
                $.ajax({
                type: "POST",
                url: "/admin/Delete",
                data: { "id": deleteid },
                success: function (response) {
                   // alert("Status Updated Successfully!");
                    location.reload();

                },
                failure: function (response) {
                    alert("failure");
                },
                error: function (response) {
                    alert("error");
                }
            });

            } else {

                return false;
            }
            
            //alert(save_change);

        })</script>


    }