@model Leave_Management_System.Models.Class.LeaveHistory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LeaveHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HODApproveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HODApproveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeanApproveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeanApproveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrarApproveStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegistrarApproveStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoOfDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoOfDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LeaveReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LeaveReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartFrome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartFrome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AllUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AllUser.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.leave_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
