@model IEnumerable<Leave_Management_System.Models.Class.LeaveHistory>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-t-30">
    <div class="col-md-12">
        <div class="table-data__tool-left">

        </div><br />
        </hr>
        <!-- DATA TABLE-->
        <button type="button" class="btn btn-primary" onclick="generate()" value="Export To PDF">Export as PDF</button>
        <button type="button" class="btn btn-success" onclick="exportTableToCSV('MY_Leave_Operations .csv')">Export as CSV</button>
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>
                            @*Html.DisplayNameFor(model => model.AllUser)*@ ID
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HODApproveStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeanApproveStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.RegistrarApproveStatus)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.NoOfDay)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LeaveReason)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StartFrome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.EndTill)
                        </th>

                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AllUser.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.HODApproveStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeanApproveStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.RegistrarApproveStatus)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfDay)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LeaveReason)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartFrome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndTill)
                            </td>

                            <td>
                                <a asp-action="Delete" asp-route-id="@item.leave_id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#tblmyleave").DataTable();
        });
    </script>
    <script>
        function generate() {
            var y = 20;
            var doc = new jsPDF('l', 'pt', 'a4');
            doc.setLineWidth(2);
            doc.text(200, y = y + 30, "All Users");
            var res = doc.autoTableHtmlToJson(document.getElementById("tblmyleave"));
            var cols = res.columns;
            cols.splice(6, 1);
            doc.autoTable(res.columns, res.data, {
                startY: 60
            });
            doc.save('MY_Leave_Status.pdf');
        }
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;
            csvFile = new Blob([csv], { type: "text/csv" });
            downloadLink = document.createElement("a");
            downloadLink.download = filename;
            downloadLink.href = window.URL.createObjectURL(csvFile);
            downloadLink.style.display = "none";
            document.body.appendChild(downloadLink);
            downloadLink.click();
        }
        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");
            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");
                for (var j = 0; j < cols.length - 1; j++)
                    row.push(cols[j].innerText);
                csv.push(row.join(","));
            }
            downloadCSV(csv.join("\n"), filename);
        }
    </script>
}
