<!DOCTYPE html>
@inject SignInManager<IdentityUser> signinmanager
@inject UserManager<IdentityUser> usemanager

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Leave_Management_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Leave Management System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (signinmanager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Role" asp-action="ListOfAllUser">Users</a>
                                </li>
                            }
                            @if (User.IsInRole("Registrar"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="HomePageRegistrar">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="MyLeave">MyLeave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                </li>
                            }
                            @if (User.IsInRole("Dean"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="HomePageDean">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="MyLeave">MyLeave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                </li>
                            }
                            @if (User.IsInRole("HOD"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="HomePageHOD">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="MyLeave">MyLeave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="ListOfLeaveRequest">List Of Leave Requests</a>
                                </li>
                            }
                            @if (User.IsInRole("Faculty"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Faculty" asp-action="HomePageFaculty">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Faculty" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Faculty" asp-action="MyLeave">MyLeave</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <ul class="navbar-nav">

                    @if (signinmanager.IsSignedIn(User))
                    {
                        @User.IsInRole("admin");
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="" title="Manage">Hello @User.Identity.Name</a>
                        </li>

                        <li class="nav-item">
                            <form class="form-inline" asp-controller="account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link ">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="account" asp-action="register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="account" asp-action="login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white navbar-dark">
            &copy; 2021 - Leave Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
