<!DOCTYPE html>
@inject SignInManager<IdentityUser> signinmanager
@inject UserManager<IdentityUser> usemanager

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>@ViewData["Title"] - Leave_Management_System</title>
    

    <link rel="stylesheet" href="~/css/DashBoard.css" />
</head>
<body>

    <div id="wrapper">
        <div class="overlay"></div>

        <!-- Sidebar -->
        <nav class="fixed-top align-top" id="sidebar-wrapper" role="navigation">
            <div class="simplebar-content" style="padding: 0px;">
                <a class="sidebar-brand" asp-controller="Home" asp-action="Index">
                    <span class="align-middle">Leave Management System</span>
                </a>

                <ul class="navbar-nav align-self-stretch">

                    @if (signinmanager.IsSignedIn(User))
                    {
                        @if (User.IsInRole("admin"))
                        {   
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Admin" asp-action="CreatLeaveType">Create Leave Type</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Admin" asp-action="ListLeaveType">List Leave Type</a>
                            </li>
                            
                            
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Role" asp-action="ListOfAllUser">Role Allocation Page</a>
                            </li>
                            <!--<li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Role" asp-action="CreateRole">Create New Role</a>
                            </li>
                            -->
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="AllUsers" asp-action="Index">List Of All Users</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="AllUsers" asp-action="Create">Create New User</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="LeaveHistories" asp-action="Index">All Leave History</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Profile Details</a>
                            </li>
                        }
                        @if (User.IsInRole("Registrar"))
                        {
                            <li class="nav-link text-left">
                                <a class="nav-link text-left " asp-area="" asp-controller="Registrar" asp-action="HomePageRegistrar">Home</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Registrar" asp-action="LeaveRequest">Create Leave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Registrar" asp-action="MyLeave">MyLeave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Registrar" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                            </li>
                            
                            <li class="nav-link text-left">
                                 <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List User Leave Allocation</a>
                            </li>
                        }
                        @if (User.IsInRole("Dean"))
                        {
                            <li class="nav-link text-left">
                                <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="HomePageDean">Home</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Dean" asp-action="LeaveRequest">Create Leave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Dean" asp-action="MyLeave">MyLeave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Dean" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                            </li>
                            
                            <li class="nav-link text-left">
                                 <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List User Leave Allocation</a>
                            </li>
                        }
                        @if (User.IsInRole("HOD"))
                        {
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="HOD" asp-action="HomePageHOD">Home</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="HOD" asp-action="LeaveRequest">Create Leave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="HOD" asp-action="MyLeave">MyLeave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="HOD" asp-action="ListOfLeaveRequest">Pending Leave Requests</a>
                            </li>
                             <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                            </li>
                             <li class="nav-link text-left">
                                 <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List Allocated Leave</a>
                            </li>
                        }
                        @if (User.IsInRole("Faculty"))
                        {
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Faculty" asp-action="HomePageFaculty">Home</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Faculty" asp-action="LeaveRequest">Create Leave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Faculty" asp-action="MyLeave">MyLeave</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List Allocated Leave</a>
                            </li>
                           

                        }
                        @if (User.IsInRole("Pending"))
                        {
                            <li class="nav-link text-left">
                                <a class="nav-link text-white" asp-area="" asp-controller="temp" asp-action="pendingView">Home</a>
                            </li>
                            <li class="nav-link text-left">
                                <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                            </li>

                        }
                    }

                </ul>
                <ul class="navbar-nav  align-self-stretch">

                    @if (signinmanager.IsSignedIn(User))
                    {
                        //@User.IsInRole("admin");

                        <li class="nav-item">
                            <a class="nav-link text-left active" role="button" aria-haspopup="true" aria-expanded="false" asp-area="" asp-page="" title="Manage"> <i class="flaticon-bar-chart-1">@User.Identity.Name</i></a>

                        </li>

                        <li class="nav-item">
                            <form class="nav-link text-left " asp-controller="account" asp-action="Logout">
                                <button type="submit" class="btn btn-block btn-dark">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li class="">
                            <a class="nav-link text-left " role="button" aria-haspopup="true" aria-expanded="false" asp-controller="account" asp-action="login">Login</a>
                        </li>

                        <li class="">
                            <a class="nav-link text-left " role="button" aria-haspopup="true" aria-expanded="false" asp-controller="account" asp-action="register">Register</a>
                        </li>

                    }
                </ul>


            </div>


        </nav>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">


            <div id="content">

                <div class="container-fluid p-0 px-lg-0 px-md-0">
                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light my-navbar">

                        <!-- Sidebar Toggle (Topbar) -->
                        <div type="button" id="bar" class="nav-icon1 hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>


                        <!-- Topbar Search
    <form class="d-none d-sm-inline-block form-inline navbar-search">
        <div class="input-group">
            <input type="text" class="form-control bg-light " placeholder="Search for..." aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-dark" type="button">
                    <i class="fas fa-search fa-sm">Search</i>
                </button>
            </div>
        </div>
    </form>
        -->
                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                            <li class="nav-item dropdown  d-sm-none">

                                <!-- Dropdown - Messages -->

                            </li>

                            <!-- Nav Item - Alerts -->

                            <li class="nav-item dropdown">

                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"> @User.Identity.Name</span>
                                    <!--<img class="img-profile rounded-circle" src="./images/avtar.png">-->
                                </a>

                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->


                </div>
                @RenderBody()
                  
                




                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row text-muted">
                            <div class="col-6 text-left">
                                <p class="mb-0">
                                    <a href="index.html" class="text-muted"><strong>Leave Management System</strong></a> &copy
                                </p>
                            </div>
                            <div class="col-6 text-right">
                                <ul class="list-inline">
                                    
                                    <li class="footer-item">
                                        <a class="text-muted" asp-controller="Home" asp-action="Privacy">Privacy</a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!--
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Leave Management System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        @if (signinmanager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Role" asp-action="ListOfAllUser">Users</a>
                                </li>
                            }
                            @if (User.IsInRole("Registrar"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="HomePageRegistrar">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="MyLeave">MyLeave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Registrar" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                </li>
                            }
                            @if (User.IsInRole("Dean"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="HomePageDean">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="MyLeave">MyLeave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Dean" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                </li>
                            }
                            @if (User.IsInRole("HOD"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="HomePageHOD">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="MyLeave">MyLeave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="HOD" asp-action="ListOfLeaveRequest">List Of Leave Requests</a>
                                </li>
                            }
                            @if (User.IsInRole("Faculty"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Faculty" asp-action="HomePageFaculty">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Faculty" asp-action="LeaveRequest">Create Leave</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Faculty" asp-action="MyLeave">MyLeave</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <ul class="navbar-nav">

                    @if (signinmanager.IsSignedIn(User))
                    {
                        @User.IsInRole("admin");
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-page="" title="Manage">Hello @User.Identity.Name</a>
                        </li>

                        <li class="nav-item">
                            <form class="form-inline" asp-controller="account" asp-action="Logout">
                                <button type="submit" class="nav-link btn btn-link ">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {

                        <li class="nav-item">
                            <a class="nav-link " asp-controller="account" asp-action="register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-controller="account" asp-action="login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    -->
    
    <!--
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Leave Management System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


    <script>
        $('#bar').click(function () {
            $(this).toggleClass('open');
            $('#page-content-wrapper ,#sidebar-wrapper').toggleClass('toggled');

        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>