@inject SignInManager<IdentityUser> signinmanager
@inject UserManager<IdentityUser> usemanager
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>@ViewData["Title"] - Leave_Management_System</title>

    <!-- Fontfaces CSS-->
    <link href="~/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/css/theme.css" rel="stylesheet" media="all">

</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="images/icon/logo9_1.png" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        @if (signinmanager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Admin" asp-action="CreatLeaveType">Create Leave Type</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Admin" asp-action="ListLeaveType">List Leave Type</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation"> My Leave Operation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-table"></i>History
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="AllUsers" asp-action="Index">All Users History</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="LeaveHistories" asp-action="Index">All Leave History</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="far fa-check-square"></i>Role Allocation
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Role" asp-action="ListOfAllUser">Role Allocation</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Registrar"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Registrar" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Registrar" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Registrar" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">Users Leaves</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">My Leave Operations</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Profile Details</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">My Leaves</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Dean"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="HomePageDean">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">Users Leaves History</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">My Leave Operations</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("HOD"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="HomePageHOD">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="ListOfLeaveRequest">Pending Leave Requests</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">My Leave Operations</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>

                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List Allocated Leave</a>
                                        </li>

                                    </ul>
                                </li>

                            }
                            @if (User.IsInRole("Faculty"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Faculty" asp-action="HomePageFaculty">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Faculty" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Faculty" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List Allocated Leave</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Pending"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                                        <li>
                                            <a class="nav-link text-white" asp-area="" asp-controller="temp" asp-action="pendingView">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="~/images/icon/logo9_1.png" alt="Cool Admin" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        @if (signinmanager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("admin"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Admin" asp-action="CreatLeaveType">Create Leave Type</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Admin" asp-action="ListLeaveType">List Leave Type</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">MyLeaveOperation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-table"></i>History
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="AllUsers" asp-action="Index">All Users History</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="LeaveHistories" asp-action="Index">All Leave History</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="far fa-check-square"></i>Role Allocation
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Role" asp-action="ListOfAllUser">Role Allocation</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Registrar"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Registrar" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Registrar" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Registrar" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">Users Leaves</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">MyLeaveOperation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Profile Details</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">My Leaves</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Dean"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="HomePageDean">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Dean" asp-action="ListOfLeaveRequest">ListOfLeaveRequest</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">Users Leaves History</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">MyLeaveOperation</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("HOD"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="HomePageHOD">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="HOD" asp-action="ListOfLeaveRequest">Pending Leave Requests</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListLeaveAllocation">List Leave Allocation</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="MyLeaveOperation">My Leave Operations</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>

                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List Allocated Leave</a>
                                        </li>

                                    </ul>
                                </li>

                            }
                            @if (User.IsInRole("Faculty"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-tachometer-alt"></i>Leave Operations
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Faculty" asp-action="HomePageFaculty">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Faculty" asp-action="LeaveRequest">Create Leave</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Faculty" asp-action="MyLeave">MyLeave</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ListUserLeaveAllocation">List Allocated Leave</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                            @if (User.IsInRole("Pending"))
                            {
                                <li class="active has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-copy"></i>My Profile
                                    </a>
                                    <ul class="list-unstyled navbar__sub-list js-sub-list">

                                        <li>
                                            <a class="nav-link text-white" asp-area="" asp-controller="temp" asp-action="pendingView">Home</a>
                                        </li>
                                        <li>
                                            <a class="" asp-area="" asp-controller="Common" asp-action="ownprofile">Edit Profile Details</a>
                                        </li>
                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="header-wrap">
                            <form class="form-header" action="" method="POST">
                                <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports..." />
                                <button class="au-btn--submit" type="submit">
                                    <i class="zmdi zmdi-search"></i>
                                </button>
                            </form>
                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">

                                            @if (signinmanager.IsSignedIn(User))
                                            {


                                                <div class="image">
                                                    <img alt="John Doe" src="" id="nav_image" />
                                                </div>
                                                <div class="content">
                                                    <a class="js-acc-btn" href="#">@User.Identity.Name</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                            <a href="#">
                                                                <img alt="John Doe" src="" id="drop_nav_image" />
                                                            </a>
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                <a>@User.Identity.Name</a>
                                                            </h5>
                                                            <span class="email">
                                                                @{var x = (
                                                                        await signinmanager.UserManager
                                                                        .GetRolesAsync(await signinmanager.UserManager.FindByNameAsync(User.Identity.Name)));
                                                                }
                                                                @x[0]
                                                            </span>


                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__body">
                                                        <div class="account-dropdown__item">
                                                            <a class="" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="Common" asp-action="OwnProfile">
                                                                <i class="zmdi zmdi-account"></i>Account
                                                            </a>
                                                        </div>
                                                        <div class="account-dropdown__item">
                                                            <a class="" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="Common" asp-action="OwnProfile">
                                                                <i class="zmdi zmdi-settings"></i>Setting
                                                            </a>
                                                        </div>

                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        <form asp-controller="account" asp-action="Logout">
                                                            <a>
                                                                <i class="zmdi zmdi-power"></i><button type="submit">Logout</button>
                                                            </a>
                                                        </form>
                                                    </div>

                                                </div>
                                            }
                                            else
                                            {

                                                <div class="content">
                                                    Login
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="account-dropdown__body">
                                                        <div class="account-dropdown__item">
                                                            <a class="" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="account" asp-action="login">
                                                                <i class="zmdi zmdi-account"></i>Login
                                                            </a>
                                                        </div>
                                                        <div class="account-dropdown__item">
                                                            <a class="" role="button" aria-haspopup="true" aria-expanded="false" asp-controller="account" asp-action="register">
                                                                <i class="zmdi zmdi-settings"></i>Register
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </header>
            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        @RenderBody()
                        <div class="row">
                            <div class="col-md-12">
                                <div class="copyright">
                                    <p>Copyright © 2021 Leave Management System. All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END HEADER DESKTOP-->
            <!-- MAIN CONTENT-->

        </div>
        <!-- END PAGE CONTAINER-->

    </div>

    <!-- Jquery JS-->
    <script src="~/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/vendor/slick/slick.min.js">
    </script>
    <script src="~/vendor/wow/wow.min.js"></script>
    <script src="~/vendor/animsition/animsition.min.js"></script>
    <script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/vendor/select2/select2.min.js">
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        $(window).on("load", function () {
            console.log("Hello Image");
            if ($("#nav_image").length) {
                $.ajax({
                    type: "POST",
                    url: "/Common/GetUserImage",
                    success: function (response) {
                        $('#nav_image').attr('src', response);
                        $('#drop_nav_image').attr('src', response);
                    },
                    failure: function (response) {
                        alert("failure");
                    },
                    error: function (response) {
                        alert("error");
                    }
                });
            }
        });
    </script>

    <!-- Main JS-->
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
<!-- end document-->