@model IEnumerable<Leave_Management_System.Models.Class.AllUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row m-t-30">
    <div class="col-md-12">
        <div class="table-data__tool-left">
            <div class="table-data__tool-left">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">Leave Responces History</h2>
                        </div>
                    </div>
                </div>
            </div><br />
            
        </div><br />
        </hr>
        <!-- DATA TABLE-->
        <button type="button" class="btn btn-primary" onclick="generate()" value="Export To PDF">Export as PDF</button>
        <button type="button" class="btn btn-success" onclick="exportTableToCSV('MY_Leave_Operations .csv')">Export as CSV</button>
        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3" id="tblmyleave">
                
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MobileNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MobileNo2)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.MiddleName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Deparment)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Role)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Addreaddress)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                           
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MobileNo2)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.MiddleName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Deparment)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Role)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Addreaddress)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                               
                                <td>
                                    <a class="btn btn-warning " data-toggle="tooltip" data-placement="top" title="Edit" asp-action="Details" asp-route-id="@item.id">Details</a> |
                                    <a  name="Delete" class="btn btn-danger zmdi zmdi-delete" data-toggle="tooltip" data-placement="top" title="Delete" asp-action="Delete" asp-route-id="@item.id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
              
            </table>
        </div>
       
        <!-- END DATA TABLE-->
    </div>


    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#tblmyleave").DataTable();
            });
        </script>
        <script>
            function generate() {
                var y = 20;
                var doc = new jsPDF('l', 'pt', 'a4');
                doc.setLineWidth(2);
                doc.text(200, y = y + 30, "All Users");
                var res = doc.autoTableHtmlToJson(document.getElementById("tblmyleave"));
                var cols = res.columns;
                cols.splice(6, 1);
                doc.autoTable(res.columns, res.data, {
                    startY: 60
                });
                doc.save('MY_Leave_Status.pdf');
            }
            function downloadCSV(csv, filename) {
                var csvFile;
                var downloadLink;
                csvFile = new Blob([csv], { type: "text/csv" });
                downloadLink = document.createElement("a");
                downloadLink.download = filename;
                downloadLink.href = window.URL.createObjectURL(csvFile);
                downloadLink.style.display = "none";
                document.body.appendChild(downloadLink);
                downloadLink.click();
            }
            function exportTableToCSV(filename) {
                var csv = [];
                var rows = document.querySelectorAll("table tr");
                for (var i = 0; i < rows.length; i++) {
                    var row = [], cols = rows[i].querySelectorAll("td, th");
                    for (var j = 0; j < cols.length - 1; j++)
                        row.push(cols[j].innerText);
                    csv.push(row.join(","));
                }
                downloadCSV(csv.join("\n"), filename);
            }
        </script>
    }
