@model PaginatedList<Leave_Management_System.Models.Class.AllUser>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                <div class="row m-t-30">
                    <div class="col-md-12">
                        <div class="table-data__tool-left">

                            <form class="form-header" asp-action="Index" method="get">
                                <input class="au-input au-input--xl" input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" required / placeholder="Search With Keayword" />
                                &nbsp;&nbsp;
                                <input type="submit" value="Search" class="au-btn-filter" />
                                &nbsp;&nbsp;
                                <a class="btn btn-primary" asp-action="Index">Back to Full List</a>
                            </form>
                        </div><br />
                        </hr>
                        <!-- DATA TABLE-->
                       
                        <div class="table-responsive m-b-40">
                            <table class="table table-borderless table-data3">
                                <thead>
                                    <tr>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["EmailSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white"> ⇅Email</h5></a>

                                        </th>

                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["MobileNoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅MobileNo</h5></a>

                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["MobileNo2SortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅MobileNo2</h5></a>

                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅Name</h5></a>


                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅LastName</h5></a>


                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["MiddleNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅MiddleName</h5></a>

                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DeparmentSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅Deparment</h5></a>

                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["RoleSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅Role</h5></a>


                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["AddreaddressSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅Addreaddress</h5></a>


                                        </th>
                                        <th>
                                            <a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]"><h5 class="text-white">⇅City</h5></a>

                                        </th>

                                        <th colspan="3">
                                            <h5 class="text text-white"> Operations</h5>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr class="tr-shadow">

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Email)
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MobileNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MobileNo2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MiddleName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Deparment)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Role)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Addreaddress)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.City)
                                            </td>


                                            <td>
                                                <a class="btn btn-warning zmdi zmdi-edit" data-toggle="tooltip" data-placement="top" title="Edit" asp-action="Edit" asp-route-id="@item.id"></a>
                                            </td>
                                            <td>
                                                <a class="btn btn-info zmdi zmdi-info" data-toggle="tooltip" data-placement="top" title="Details" asp-action="Details" asp-route-id="@item.id"></a>
                                            </td>
                                            <td>
                                                <a class="btn btn-danger zmdi zmdi-delete" data-toggle="tooltip" data-placement="top" title="Delete" asp-action="Delete" asp-route-id="@item.id"></a>
                                            </td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                        @{
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }
                        <center>
                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-outline-primary @prevDisabled">
                                Previous
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @prevDisabled">
                                @(Model.PageIndex - 1)
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-primary">
                                @(Model.PageIndex)
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-default @nextDisabled">
                                @(Model.PageIndex + 1)
                            </a>

                            <a asp-action="Index"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-currentFilter="@ViewData["CurrentFilter"]"
                               class="btn btn-outline-primary @nextDisabled">
                                Next
                            </a>
                        </center>
                        <!-- END DATA TABLE-->
                    </div>
                </div>
            