@model IEnumerable<Leave_Management_System.Models.Class.LeaveAllocation>

@{
    ViewData["Title"] = "ListLeaveAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ListLeaveAllocation</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoOfLeave)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfLeave)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.leaveType.LeaveType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllocationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AllocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
