@model List<Leave_Management_System.Models.ViewModel.ListOfLeaveRequestHOD>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="row m-t-30">
    <div class="col-md-12">
        <div class="table-data__tool-left">

            <div class="table-data__tool-left">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">List of Leave Request of HOD</h2>

                    </div>
                </div>
            </div>

        </div><br />
        </hr>
        <!-- DATA TABLE-->

        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Start Frome</th>
                        <th>End Till</th>
                        <th>No Of Day</th>
                        <th>Leave Reason</th>
                        <th>Attachment</th>
                        <th colspan="2">Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td> @Model[i].FirstName</td>
                        <td>@Model[i].LastName</td>
                        <td> @Model[i].username</td>
                        <td>@Model[i].LeaveStartFrome</td>
                        <td>@Model[i].LeaveEndTill</td>
                        <td> @Model[i].NoOfDay</td>


                        <td> @Model[i].LeaveReason</td>

                        <td>
                            @if (Model[i].Attachment == null)
                            {

                            }
                            else
                            {
                    <a href="~/file/@Model[i].Attachment">User Document</a>}

                        </td>
                        <!--<td> <button class="btn btn-primary" value="@Model[i].id" name="savechange"> Save Change </button></td>-->

                        <td>
                            <button class="btn btn-success" value="@Model[i].id"  class="btn btn-success zmdi zmdi-badge-check" data-toggle="tooltip" data-placement="top" title="Accept" name="Accept">Accept</button>
                            </td>
                        <td>
                            <button class="btn btn-danger" value="@Model[i].id" class="btn btn-danger zmdi zmdi-check-circle" data-toggle="tooltip" data-placement="top" title="Accept"name="Reject">Reject</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    @section scripts{
        <script>

            /* $("[name=savechange]").on("click", function () {
                 var savechangevalue = $(this).val();
                 var save_change = $(this).closest('td').prev().prev().find('.status').val();
                 $.ajax({
                     type: "POST",
                     url: "/HOD/AjaxMethod",
                     data: { "name": save_change, "leave_id": savechangevalue },
                     success: function (response) {
                         alert("Status Updated Successfully!");
                         location.reload();

                     },
                     failure: function (response) {
                         alert("failure");
                     },
                     error: function (response) {
                         alert("error");
                     }
                 });
                 //alert(save_change);

             })*/

            $("[name=Accept]").on("click", function () {
                var savechangevalue = $(this).val();
                var save_change = "Accepted";
                $.ajax({
                    type: "POST",
                    url: "/HOD/AjaxMethod",
                    data: { "name": save_change, "leave_id": savechangevalue },
                    success: function (response) {
                        location.reload();

                    },
                    failure: function (response) {
                        alocation.reload();
                    },
                    error: function (response) {
                        location.reload();
                    }
                });
                //alert(save_change);

            })
            $("[name=Reject]").on("click", function () {
                var savechangevalue = $(this).val();
                var save_change = "Rejected";
                $.ajax({
                    type: "POST",
                    url: "/HOD/AjaxMethod",
                    data: { "name": save_change, "leave_id": savechangevalue },
                    success: function (response) {
                        location.reload();

                    },
                    failure: function (response) {
                        location.reload();
                    },
                    error: function (response) {
                        location.reload();
                    }
                });
                //alert(save_change);

            })

        </script>
    }
