@model List<Leave_Management_System.Models.ViewModel.ListOfLeaveRequestHOD>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="row m-t-30">
    <div class="col-md-12">
        <div class="table-data__tool-left">

            <form class="form-header" asp-action="ListOfLeaveRequest" method="get">
                <input class="au-input au-input--xl" input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" required / placeholder="Search With Keayword" />
                &nbsp;&nbsp;
                <input type="submit" value="Search" class="au-btn-filter" />
                &nbsp;&nbsp;
                <a class="btn btn-primary" asp-action="ListOfLeaveRequest">Back to Full List</a>
            </form>
        </div><br />
        </hr>
        <!-- DATA TABLE-->

        <div class="table-responsive m-b-40">
            <table class="table table-borderless table-data3">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                        <th>Start Frome</th>
                        <th>End Till</th>
                        <th>No Of Day</th>
                        <th>Leave Reason</th>
                        <th>Attachment</th>
                        <th>Operation</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Count; i++)
                    {
                    <tr>
                        <td> @Model[i].FirstName</td>
                        <td>@Model[i].LastName</td>
                        <td> @Model[i].username</td>
                        <td>@Model[i].LeaveStartFrome</td>
                        <td>@Model[i].LeaveEndTill</td>
                        <td> @Model[i].NoOfDay</td>


                        <td> @Model[i].LeaveReason</td>
                        <!--<td> <button class="btn btn-primary" value="@Model[i].id" name="savechange"> Save Change </button></td>-->
                        <td>
                            @if (Model[i].Attachment == null)
                            {

                            }
                            else
                            {
                                <a href="~/file/@Model[i].Attachment">User Document</a>
                            }

                        </td>
                        <td>
                            <button class="btn btn-success" value="@Model[i].id" name="Accept">Accept</button>
                            <button class="btn btn-danger" value="@Model[i].id" name="Reject">Reject</button>
                        </td>
                        <td></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>


        <!-- END DATA TABLE-->
    </div>

    @section scripts{
        <script>

            $("[name=Accept]").on("click", function () {
                var savechangevalue = $(this).val();
                var save_change = "Accepted";
                $.ajax({
                    type: "POST",
                    url: "/Dean/AjaxMethod",
                    data: { "name": save_change, "leave_id": savechangevalue },
                    success: function (response) {
                        
                        location.reload();

                    },
                    failure: function (response) {
                        location.reload();
                    },
                    error: function (response) {
                        location.reload();
                    }
                });
                //alert(save_change);

            })
            $("[name=Reject]").on("click", function () {
                var savechangevalue = $(this).val();
                var save_change = "Rejected";
                $.ajax({
                    type: "POST",
                    url: "/Dean/AjaxMethod",
                    data: { "name": save_change, "leave_id": savechangevalue },
                    success: function (response) {
                        location.reload();
                        

                    },
                    failure: function (response) {
                        location.reload();
                    },
                    error: function (response) {
                        location.reload();
                    }
                });
                //alert(save_change);

            })
        </script>
    }
