@model IEnumerable<Leave_Management_System.Models.ViewModel.MyLeave>

@{ ViewData["Title"] = "MyLeave";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>MyLeave</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeaveReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartFrome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTill)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.LeaveStatus)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LeaveReason)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NoOfDay)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.StartFrome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EndTill)
    </td>
    @if (item.changeable == 1)
    {
<td>

    <a asp-action="UpdateLeave" asp-route-leave_id="@item.leave_id">Update leave</a> |
    <a asp-action="DeleteLeave" asp-route-leave_id="@item.leave_id">Delete Leave</a>

</td>}
</tr>}
    </tbody>
</table>
